header .block-bottom {
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-bottom .center-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filters-container {
    height: 100%;
    gap: 8px;
    user-select: none;
    display: flex;
    align-items: center;
}

.filters-container .button {
    height: 100%;
    padding: 0 10px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: var(--filters-text);
    transition: all 80ms linear;
}

.filters-container .button:hover {
    border-bottom: 1px solid var(--filters-border-hover-active);
}

.filters-container .button.active,
.filters-container .button:active {
    border-bottom: 1px solid var(--filters-border-hover-active);
}