html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}

body {
    height: 100dvh;
    background: var(--background);
    -webkit-tap-highlight-color: var(--none);
}

.hidden {
    display: none !important;
}

.all {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    top: 0;
    flex-shrink: 0;
    backdrop-filter: blur(50px);
    border-bottom: 1px solid var(--header-border);
    display: flex;
    position: sticky;
    overflow: hidden;
    flex-direction: column;
    background: var(--header);
}

header .block-top {
    height: 60px;
    width: 100%;
    gap: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 80ms linear;
}

.block-top .left-container,
.block-top .center-container,
.block-top .right-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.block-top .left-container {
    flex-shrink: 0;
}

.logo-container {
    height: 100%;
    width: 215px;
    gap: 12px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    user-select: none;
    align-items: center;
}

.logo {
    height: 35px;
    width: 35px;
    border-radius: 10px;
}

.logo-container .text-container {
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--logo-text);
}

.text-container .name {
    margin: 0;
    line-height: 0.8;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Outfit';
}

.text-container .description {
    margin: 0;
    opacity: .6;
    line-height: 1;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.block-top .center-container {
    width: 600px;
    min-width: 72px;
}

.search-container {
    height: 40px;
    width: 100%;
    gap: 8px;
    padding: 0 10px;
    border-radius: var(--max-radius);
    border: 1px solid var(--search-container-border);
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms linear;
    background: var(--search-container);
}

.search-container input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    padding: 0;
    outline: none;
    appearance: none;
    font-family: 'Montserrat';
    color: var(--search-input-text);
    background: var(--none);
}

.search-container .search-icon {
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon .icon {
    height: 19px;
    width: 19px;
    color: var(--search-icon);
}

.search-container input::placeholder {
    user-select: none;
    color: var(--search-input-placeholder);
}

.search-container:hover {
    background: var(--search-container-hover-focus);
}

.search-container:focus-within {
    border: 1px solid var(--search-container-border-focus);
    background: var(--search-container-hover-focus);
}

.block-top .right-container {
    flex-shrink: 0;
}

.link-container {
    height: 100%;
    width: 215px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 80ms linear;
}

.link-container .link {
    display: flex;
    border-radius: var(--max-radius);
}

.link-container .link:hover {
    margin-bottom: 1px;
}

.link img {
    height: 28px;
    width: 28px;
    border-radius: var(--max-radius);
}

.message {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid var(--message-border);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--message);
    transition: all 80ms linear;
}

.message .text-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat';
}

.message h1 {
    margin: 0;
    line-height: 1.1;
    font-size: 15px;
    font-weight: 600;
    color: var(--message-text-h1);
}

.message p {
    margin: 0;
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
    color: var(--message-text-p);
}

.message:active,
.message:hover {
    background: var(--message-hover-active);
}

.block-video {
    flex: 1;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    transition: all 80ms linear;
}


.video {
    width: 220px;
    border-radius: 15px;
    border: 1px solid var(--video-border);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 80ms linear;
    background: var(--video);
}

.video img {
    width: 100%;
    aspect-ratio: 9 / 16;
    border-bottom: 1px solid var(--video-border);
    border-radius: 14px 14px 0 0;
}

.video .text-container {
    gap: 3px;
    padding: 10px 9px;
    font-weight: 500;
    display: flex;
    user-select: none;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Montserrat';
}

.video h1 {
    margin: 0;
    font-size: 15px;
    line-height: 1.1;
    color: var(--video-text-h1);
}

.video p {
    margin: 0;
    font-size: 13px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    color: var(--video-text-p);
}

.video:hover {
    box-shadow: 0px 0px 10px 0px var(--video-shadow);
    border: 1px solid var(--video-border-hover);
    background: var(--video-hover);
}

.none-video {
    gap: 15px;
    padding: 15px;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat';
}

.none-video h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--none-video-text);
}

.none-video .button {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    user-select: none;
    color: var(--none-video-text);
    background: var(--none-video);
}

.none-video.active {
    display: flex;
}

.none-video .button:hover,
.none-video .button:active {
    background: var(--none-video-hover-active);
}

footer {
    gap: 10px;
    padding: 0 10px;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: var(--footer);
}

footer .center-container {
    height: 54px;
    display: none;
    align-items: center;
}

.button-up,
.button-info {
    height: 40px;
    width: 40px;
    bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--max-radius);
    cursor: pointer;
    display: flex;
    position: fixed;
    user-select: none;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit';
    color: var(--button-footer-text);
    background: var(--button-footer);
}

.button-up {
    right: 15px;
    display: none;
}

.button-info {
    left: 15px;
}

.button-up.active {
    display: flex;
}

.button-up:hover,
.button-info:hover {
    background: var(--button-footer-hover);
}

.button-up:active,
.button-info:active {
    background: var(--button-footer-active);
}