@media (max-width: 1050px) {

    .logo-container,
    .link-container {
        width: auto;
    }
}

@media (max-width: 520px) {
    .link-container {
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .text-container .description {
        display: none;
    }
}

@media (max-width: 440px) {
    header .block-top {
        padding: 0 10px;
    }

    .logo-container {
        gap: 8px;
    }
}

@media (max-width: 454px) {
    header .block-top {
        padding: 0 15px;
    }

    .block-top .right-container {
        display: none;
    }

    footer .center-container {
        display: flex;
    }

    .link-container {
        gap: 25px;
        align-items: flex-start;
    }

    .link img {
        height: 34px;
        width: 34px;
    }
}

@media (max-width: 320px) {
    header .block-top {
        gap: 10px;
    }

    .logo-container .text-container {
        display: none;
    }

    .link-container {
        gap: 15px;
    }
}

@media (max-width: 280px) {
    .block-video {
        padding: 20px 0;
    }
}


@media (max-width: 260px) {
    html {
        background: var(--background);
    }

    body {
        display: none;
    }
}